@layer components {
  /* section class */
  .section {
    @apply bg-gray-50 pt-32 pb-16;
  }
  .section-subtitle {
    @apply pb-4 text-[15px] font-bold text-green-600;
  }
  .section-title {
    @apply pb-4 text-[24px] font-bold leading-[1.4] text-gray-900;
  }
  .section-text {
    @apply pb-8 text-[15px] leading-[1.7] text-gray-600;
  }

  /* container class */
  .container {
    @apply mx-auto w-[calc(100%-3rem)] max-w-5xl;
  }
}
